@page
@model GerenRest.RazorPages.Pages.Atendimento.Create

<h1>Registrar Atendimento</h1>

@if (!string.IsNullOrEmpty(TempData["ErroSelecaoProd"]?.ToString())) {
    <div class="alert alert-warning">@TempData["ErroSelecaoProd"]</div>
}

<script>
    function toggleInputVisibility(inputId, checkboxId) {
        var input = document.getElementById(inputId);
        var checkbox = document.getElementById(checkboxId);

        if (checkbox.checked) {
            input.style.visibility = "visible";
            input.disabled = false;
        } else {
            input.style.visibility = "hidden";
            input.disabled = true;
        }
    }
</script>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-dange"></div>
            <div class="form-group">
                <label asp-for="GarconId">Garçon Resonsável</label>
                <select asp-for="GarconId">
                    @foreach (var garModel in Model.GarconModel!)
                    {
                        <option value="@garModel.GarconID">@garModel.Nome</option>
                    }
                </select>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="MesaId">Mesa Atendida</label>
                <select asp-for="MesaId">
                    @foreach (var mesaModel in Model.MesaModel!)
                    {
                        @if(@mesaModel.Ocupada != null) {
                            <option value="@mesaModel.MesaID">@mesaModel.Numero</option>
                        }
                    }
                </select>
            </div>
            <br/>
            <div class="form-group">
                <label>Produtos Consumidos</label>
                <ul>
                    @foreach (var prodModel in Model.ProdModel!)
                    {
                        <li>
                            <input type="checkbox" name="ProdSelec" id="prod_@prodModel.ProdutoID" onchange="toggleInputVisibility('inp_@prodModel.ProdutoID', 'prod_@prodModel.ProdutoID')" value="@prodModel.ProdutoID"/>
                            <label>@prodModel.Nome</label>
                            <input type="number" name="QuantSelect" id="inp_@prodModel.ProdutoID" value="1" min="1" style="visibility: hidden;" disabled>
                        </li>
                    }
                </ul>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Salvar"/>
                <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>